.linear-gradient {
  background: linear-gradient(150deg, #F0C9F8, white);
}

#topPage{
	margin: auto;
	width: 100%;
}

/* Titre*/
h1 {
	color: #9B35B0;
	font-size: 5em;
	text-align: center
}

/* Menu */
#menu {
	position: absolute;  
	top: 0px;  
    left:0;  
    height: 25px;  
    width: 100%;  
}

*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

nav{
	width: 100%;
	margin: 0 auto;
	background-color: #9B35B0;
	position: sticky;
	top: 0px;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	float: left;
	width: 33%;
	text-align: center;
	background-color: #9B35B0;
	border-right: 2px solid white;
}

nav ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color: gold;
	border-bottom: 2px solid gold;
}

/* Présentation*/
h3 {
	color: #6B137E;
	font-size: 3em;
	text-align: center
}

.blocRond {
	background-color: #E2A2F0;
	border-radius: 50px;
	border: 2px solid#9B35B0;
	padding: 10px;
	width: max-content;
	margin: auto;"
}

.blocRond:hover {
      background-color: #f7c2f9;
      }
.blocRond:hover span {
      padding-right: 25px;
      }
.blocRond:hover span:after {
      opacity: 1;
      right: 0;
      }

/* Groupes */	

body {text-align: center;} /* Pour centrer dans IE */

table {
	background-color: none;
	margin: 0 auto;
	border-spacing: 5px 1rem;
} /* Pour centrer dans FF */


.groupe {
	color: #6B137E;
}

.ville {
	color: #6B137E;
}
  
.groupe:hover {
	color: #9B35B0;
}

/* Formulaire */
.formulaire {
	color: #6B137E;
	font-size: 1em;
	text-align: center
}

.buttonFormulaire {
	display: inline-block;
      background-color: #7b38d8;
      border-radius: 10px;
      border: 4px double #cccccc;
      color: #eeeeee;
      text-align: center;
      font-size: 20px;
      padding: 10px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 3px;
      }
.buttonFormulaire span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      }
.buttonFormulaire span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
      }
.buttonFormulaire:hover {
      background-color: #f7c2f9;
      }
.buttonFormulaire:hover span {
      padding-right: 25px;
      }
.buttonFormulaire:hover span:after {
      opacity: 1;
      right: 0;
      }


/* Mentions légales / Copyright */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container {
  width: 95%;
  margin: 10px;
  color: #6B137E;
}

.copyright{
	text-align: right;
}

.mentionsLegales{
	text-align: left;
}
.mentionsLegalesColor{
}
.mentionsLegalesColor:hover{
      color: #9B35B0;
}

/* Bandeau LOGOS*/
body{
margin:0px;
}
#header{
height:120px;
background:#F1EDF1;
}


.img-responsive{
    max-width: 25%;
	margin:0 3%; /* 10px a droite et a gauche de l image */
	padding:0;
    height: auto;

}


/* RESPONSIVE */
@media (min-width: 480px) and (max-width: 780px)
{
.linear-gradient {
  background: linear-gradient(150deg, #F0C9F8, white);
  margin: auto;
	width: 100%;
}	
}

@media (min-width: 781px) and (max-width: 979px)
{
.linear-gradient {
  background: linear-gradient(150deg, #F0C9F8, white);
  width = 100%;
}	
}

